doctype html
html
head
  title=title
body(ng-controller="MainController")
  | Hello from {{ text }}

  script.
    Error.stackTraceLimit = Infinity;
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js")
  script(src='scripts.js')
  script.
    angular.bootstrap(document.body, ['ngKoaApp']);
