doctype html
html
head
  title=title
body(ng-controller="MainController")
  | Hello from {{ text }}

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js")
  script.
    Error.stackTraceLimit = Infinity;
    angular.bootstrap(document.body, ['ngKoaApp']);
